
  <div class="home-bg">
    <div class="overlay">
      <div class="home-content text-center">
        <img src="assets/images/Spider.png" width="120" height="120" alt="Logo" class="rounded">
        <h1 id="welcome-msg">Welcome to Spider Web Dev</h1>
        <p id="welcome-msg">Thanks for stopping by and checking us out.<br>We are a team of software developers focusing on developing custom software solutions for small businesses.<br><br>Toronto based.</p>
        
        <a class="btn btn-light" routerLink="/about">Learn More</a>
      </div>
    </div>
  </div>
  